div( data-role="panel" data-title-caption="SYNC STATE" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Committed
            td.text-right
                span#sync_committed 0
        tr
            td Highest
            td.text-right
                span#sync_highest 0
        tr
            td Synced
            td.text-right
                span#sync_synced 0
        tr
            td Target
            td.text-right
                span#sync_target 0
        tr
            td Timestamp Committed
            td.text-right
                span#sync_timestamp_committed 0
        tr
            td Timestamp Synced
            td.text-right
                span#sync_timestamp_synced 0
        tr
            td Timestamp Real
            td.text-right
                span#sync_timestamp_real 0
