main.container-fluid
    div.row
        div.cell-md-6.cell-lg-3
            include ../blocks/api-ledger-info

        //div.cell-md-6.cell-lg-3
        //    include ../blocks/ledger

        div.cell-md-6.cell-lg-3
            include ../blocks/sync-status

        div.cell-md-6.cell-lg-3
            include ../blocks/jellyfish

        div.cell-md-6.cell-lg-3
            include ../blocks/connections

        div.cell-md-6.cell-lg-3
            include ../blocks/requests

        div.cell-md-6.cell-lg-3
            include ../blocks/ledger-storage

        div.cell-md-6.cell-lg-3
            include ../blocks/metrics

        div.cell-md-6.cell-lg-3
            include ../blocks/send-data

        div.cell-md-6.cell-lg-3
            include ../blocks/rpc-bytes

        div.cell-md-6.cell-lg-3
            include ../blocks/rpc-messages

        div.cell-md-6.cell-lg-3
            include ../blocks/transactions

        //div.cell-md-6.cell-lg-3
        //    include ../blocks/queues

        div.cell-md-6.cell-lg-3
            include ../blocks/system
